$center: center;
$start: flex-start;
$end: flex-end;
$around: space-around;
$between: space-between;
$even: space-evenly;

// 颜色
$darkblue: #0052d9;
$green: #27be8a;
$blue: #0a84ff;
$black: #000000;
$red: rgba(255, 0, 0, 1);
$bg_black: rgba(8, 8, 8, 0.9); // 背景黑色
$bg_gray: #383838; // 标签背景灰
